# See https://help.github.com/ignore-files/ for more about ignoring files.

/node_modules
/coverage
/dist
/scripts
/dev-dist
/out
/client
/static

.DS_Store
out.tar.gz
npm-debug.log*
npm-debug.log*
npm-error.log*
